body {
    background-color: #121212;
    color: #f0f0f0;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background: #1f1f1f;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
}

header h1 {
    margin: 0;
    font-size: 2rem;
    text-shadow: 2px 2px 5px #000;
}

header .logo {
    width: 150px;
    display: block;
    margin: 0 auto 10px auto;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: #f0f0f0;
    font-weight: bold;
    transition: 0.3s;
}

nav a:hover {
    color: #ff0000;
    text-shadow: 1px 1px 5px #fff;
}

h2 {
    text-align: center;
    text-shadow: 1px 1px 3px #000;
}

/* Блок бойцов */
.fighter-card {
    display: inline-block;
    background: #1f1f1f;
    margin: 10px;
    padding: 10px;
    width: 200px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.7);
    transition: transform 0.3s;
}

.fighter-card:hover {
    transform: translateY(-10px);
}

.fighter-card img {
    width: 100%;
    border-radius: 10px;
}

/* Список боев */
#fight-list .fight {
    background: #1f1f1f;
    padding: 10px;
    margin: 10px auto;
    width: 80%;
    border-radius: 10px;
    text-align: center;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.7);
}
